#filterBar.navbar.navbar-light.pb-1
  div.mx-1.px-0.d-flex
    form.form-inline
      div.input-group.input-group-sm
        div.input-group-prepend
          span.input-group-text
            //- img(src="icons/Twitter-Logos/Twitter_Logo_Blue/Twitter_Logo_Blue.svg" height="20px")
            img(src="icons/Twitter-Logos/Twitter_Logo_Rshiefcolor.svg" height="20px")
        input#hashtagsText.form-control(type="search" placeholder="Hashtags" size="11")
        input#usernamesText.form-control(type="search" placeholder="Usernames" size="11")
        input#keywordsText.form-control(type="search" placeholder="Keywords" size="11")
        div.input-group.input-group-sm.input-daterange(data-date-format="M d, yyyy")
          div.input-group-prepend.input-group-append
            span.input-group-text from
          input#from.form-control(type="text" value="Oct 2, 2009" size="10")
          div.input-group-prepend.input-group-append
            span.input-group-text to
          input#to.form-control(type="text" value="Oct 5, 2013" size="10")
        div.input-group.input-group-sm
          div.input-group-append
            button.btn.btn-outline-secondary.dropdown-toggle(type="button" id="languageMenuDropdownButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") languages
            div#language.dropdown-menu(aria-labelledby="languageMenuDropdown")
              div.form-check.d-flex.justify-content-start.pl-3
                input.form-check-input(type="checkbox" id="inlineCheckbox2" value="en")
                label.form-check-label(for="inlineCheckbox2") English
              div.form-check.d-flex.justify-content-start.pl-3
                input.form-check-input(type="checkbox" id="inlineCheckbox3" value="fr")
                label.form-check-label(for="inlineCheckbox3") French
              div.form-check.d-flex.justify-content-start.pl-3
                input.form-check-input(type="checkbox" id="inlineCheckbox4" value="ar")
                label.form-check-label(for="inlineCheckbox4") Arabic
          div.input-group-append
            button.btn.btn-outline-secondary.dropdown-toggle(type="button" id="countryMenuDropdownButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") countries
            div#country.dropdown-menu(aria-labelledby="countryMenuDropdown")
              div.form-check.d-flex.justify-content-start.pl-3
                input.form-check-input(type="checkbox" id="inlineCheckbox2" value="eg")
                label.form-check-label(for="inlineCheckbox2") Egypt
              div.form-check.d-flex.justify-content-start.pl-3
                input.form-check-input(type="checkbox" id="inlineCheckbox3" value="bh")
                label.form-check-label(for="inlineCheckbox3") Bahrain
              div.form-check.d-flex.justify-content-start.pl-3
                input.form-check-input(type="checkbox" id="inlineCheckbox4" value="sa")
                label.form-check-label(for="inlineCheckbox4") Saudi Arabia
          div.input-group-append
            button.btn.btn-outline-secondary.dropdown-toggle(type="button" id="countryMenuDropdownButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") origins
            div#source.dropdown-menu(aria-labelledby="countryMenuDropdown")
              div.form-check.d-flex.justify-content-start.pl-3
                input.form-check-input(type="checkbox" id="inlineCheckbox2" value="131")
                label.form-check-label(for="inlineCheckbox2") Tweetdeck
              div.form-check.d-flex.justify-content-start.pl-3
                input.form-check-input(type="checkbox" id="inlineCheckbox3" value="262")
                label.form-check-label(for="inlineCheckbox3") Hootsuite
              div.form-check.d-flex.justify-content-start.pl-3
                input.form-check-input(type="checkbox" id="inlineCheckbox4" value="011")
                label.form-check-label(for="inlineCheckbox4") Twitter for iPhone
          div.input-group-append
            button#filterGoButton.btn.btn-primary(type="button" disabled)
              img(src="/icons/bootstrap-icons-1.0.0-alpha5/search.svg")
