nav#vizNav.navbar.navbar-expand-md.pt-0
  div.ml-1.pl-0
    #vizToggles.collapse.navbar-collapse.show
      ul#pills-tab.navbar-nav.nav.nav-pills(role="tablist")
        li.nav-item
          a.nav-link.active(href="#userPacking" data-toggle="pill") User Packing
        li.nav-item
          a.nav-link(href="#streamgraph" data-toggle="pill") Streamgraph
