ul(class="nav nav-tabs", role="tablist")
  li#timeline-view(role="presentation", class="nav-item")
    a(href="#", class="nav-link active", aria-controls="timeline-view", role="tab") Timeline View
  li#tweet-view(role="presentation", class="nav-item")
    a(href="#", class="nav-link active", aria-controls="tweet-view", role="tab") Tweet View
