doctype html
html(lang="en")
  head
    title= title
    block stylesheets
      // Global stylesheet
      link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    block scripts
