doctype html
html
  head
    block stylesheets
      link(href="/stylesheets/dashboard.css", rel="stylesheet")
  body
    block content
      #dash(style="position: absolute; display: inline-block; top: 0; left: 0;" class="flex")
        #userPacking(class="viz draggable")
        #streamgraph(class="viz draggable")
    block scripts
    script(src='/javascripts/dashboard.bundle.js')
