doctype html
html
  body
    block content
      div(class="flex")
        #userPacking(style="width: 200px; height: 200px;")
        #streamgraph
    block scripts
    script(src='/javascripts/dashboard.bundle.js')
