doctype html
html
  head
    block stylesheets
      link(href="/stylesheets/dashboard.css", rel="stylesheet")
  body
    block content
      #dash(style="position: absolute; display: inline-block; top: 0; left: 0;" class="flex")
        #userPacking(class="draggable" style="width: 200px; height: 200px;")
        #streamgraph(class="draggable" style="width: 200px; height: 200px;")
    block scripts
    script(src='/javascripts/dashboard.bundle.js')
