for val in results
  hgroup(class="list-group-item")
    h6.list-group-item-heading
      a(href="#", onclick="dbHandler.addUserFilter(this.innerHTML)")= val.from_user
    h6.list-group-item-heading= val.text
