html, body {
    overflow: hidden;
}

#content .list-group {
    height: 86vh;
    overflow-y: scroll;
}

.nav-tabs {
    height: 6vh;
    /*background-color: whitesmoke;*/
}

#keywords-region {
    background-color: ghostwhite;
    height: 15em;
    margin-bottom: 1em;
    overflow-y: scroll;
}

#languages-dropdown {
    margin-top: 1em;
}

/* #keyAdd {
    display: flex;
    width: auto;
} */

#addButtonBadge {
    height: 100%;
    display: flex;
    padding-top: 1em;
}
