a:hover {
  color: #E1E2E1;
}

.nav-link.active {
  color: #E1E2E1;
}

html * {
  font-family: Helvetica, Arial, sans-serif;
}

html, body {
  height: 100%;
  /* overflow: hidden; */
}

.draggable {
    border: 1px solid black;
    position: absolute;
    display: inline-block;
    overflow: hidden;
    top: 0;
    left: 0;
}

.viz {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

#vizToggles li a {
  padding-top: 4px;
  padding-bottom: 4px;
}

.nav a, #sharelink {
  font-size: .875rem;
}

.footer {
  position: absolute;
  bottom: 5px;
  width: 100%;
  height: 30px;
  line-height: 30px;
  background-color: #f5f5f5;
}

#resize-handle {
  background-color: rgba(255, 0, 0, 0.5);
}

.nav-pills .nav-link, .nav-link {
  color: #a0a09f;
}

.nav-pills .nav-link.active, .nav-pills .nav-link.active:hover  {
  /* background-color: #1c4954; */
  color: E1E2E1;
  background-color: #414141;
}

/* .input-group span {
  background-color: #6c757d;
  opacity: .65;
  color: black;
} */

.input-group input, .input-group button {
  background-color: #f8f9fa;
}

.input-group button {
  border-color: #000000;
}

.input-group input:read-only, .input-group textarea:read-only {
  background-color: #f8f9fa;
}

.card .card-body p {
  font-size: .875rem;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
